.cus_bit

  .cus_head
    - if @customer.is_company
      = "Company: " + @customer.username.upcase
    - else
      = "User: " + @customer.username.downcase

    .cus_img
      = image_tag(@customer.image, :height => '64', :title => @customer.name)

  %dl
    %dt Full name:
    %dd= @customer.name

    %dt Email:
    %dd= @customer.email

    %dt Fon:
    %dd= @customer.phone_number

    %dt Twitter:
    %dd= @customer.twitter_link


.cus_nav
  = link_to 'List', customers_path
  \|
  = link_to 'Edit', edit_customer_path(@customer)

