
.cus_bit

  .cus_head
    - if @customer.is_company
      = "Company: " + @customer.username
    - else
      = "User: " + @customer.username
    = @customer.login ? "(is in)" : "(is out)"


    .cus_img
      - if @customer.login
        = image_tag(customer_image(@customer), :height => '64')
      - else
        = @customer.is_company ? image_tag('company_logged_out.png', :height => '64') : image_tag('user_logged_out.jpg', :height => '64')

  %dl
    %dt Full name:
    %dd= @customer.first_name + " " +  @customer.last_name

    %dt Email:
    %dd= @customer.is_company ? @customer.email : "N / A"

    %dt Fon:
    %dd= @customer.login ? format_phone_number(@customer.fon_country, @customer.fon_city, @customer.fon) : "N / A"

    %dt Twitter:
    %dd= @customer.twitter_name.present? ? twitter_link(@customer.twitter_name) : "N / A"

.cus_nav
  = link_to 'List', customers_path
  \|
  = link_to 'Edit', edit_customer_path(@customer)

