%p#notice= notice

- if @customer.is_company
  %h2= "Company: " + @customer.username
- else
  %h2= "User: " + @customer.username

%p
  %b Full name:
  = @customer.first_name + " " +  @customer.last_name
%p
  %b Email:
  = @customer.is_company ? @customer.email : "N / A"
%p
  %b Fon:
  = format_phone_number(@customer.fon_country, @customer.fon_city, @customer.fon)
%p
  %b= @customer.twitter_name.present? ? twitter_link(@customer.twitter_name) : "N / A"

%p
  %b Image:
  = image_tag(@customer.image, :height => '64')

= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path

