
.cus_bit

  .cus_head
    = @customer.headline

    .cus_img
      - if @customer.login
        = image_tag(customer_image(@customer), :height => '64')
      - else
        = @customer.is_company ? image_tag('company_logged_out.png', :height => '64') : image_tag('user_logged_out.jpg', :height => '64')

  %dl
    %dt Full name:
    %dd= @customer.name

    %dt Email:
    %dd= @customer.email

    %dt Fon:
    %dd= @customer.phone_number

    %dt Twitter:
    %dd= @customer.twitter_link

.cus_nav
  = link_to 'List', customers_path
  \|
  = link_to 'Edit', edit_customer_path(@customer)

