
.cus_bit

  .cus_head
    = @customer.headline

    .cus_img
      = @customer.image

  %dl
    %dt Full name:
    %dd= @customer.name

    %dt Email:
    %dd= @customer.email

    %dt Fon:
    %dd= @customer.phone_number

    %dt Twitter:
    %dd= @customer.twitter_link

.cus_nav
  = link_to 'List', customers_path
  \|
  = link_to 'Edit', edit_customer_path(@customer)

