<!DOCTYPE html>
<html>
<head>
  <title>Rails Presenter with Draper</title>
  <%= stylesheet_link_tag "scaffold.css" %>
  <%= stylesheet_link_tag "boilerplate.css" %>
  <%= stylesheet_link_tag "customer.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>

